# Enable URL rewriting
RewriteEngine On

# Set the base directory
RewriteBase /site_fitness/backend/

# Allow direct access to real files and directories
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Handle API requests - allows for cleaner URLs
RewriteRule ^api/v1/(.*)$ api/$1 [L]
